version: '3.8'

services:
  playwright-chrome:
    image: browserless/chrome:latest
    container_name: playwright-chrome
    ports:
      - "3000:3000"
    environment:
      - DEFAULT_LAUNCH_ARGS=--no-sandbox,--disable-dev-shm-usage

  test-website:
    image: nginx:alpine
    container_name: test-website
    ports:
      - "8080:80"
    volumes:
      - ./website:/usr/share/nginx/html